h1{
  text-align: center;
  padding-top: 30px;
  font-style: italic;
  text-shadow: 0.1em 0.1em 0.15em #333;
  font-size: 4em;
  box-sizing: border-box;
  /*background-color: green;*/
}
.checkButton{
  padding-top: 30px;
  padding-bottom: 20px;
}

.addButton{
  border-radius: 4px;
}
#tableStock{
  padding-top: 10px;
  /*background-color: orange;*/
  margin-left: 80px;
  margin-right: 80px;
}
.srchBtn{
  margin-bottom: 20px;
}
html{
margin-left: 50px;
margin-right: 50px;
background-color: #ffec8b;
}
.container {
    width : 1024px;
    background-color: powderblue;
    margin : auto;
    padding : 1em;
    box-sizing: border-box;
    text-align: center;

}
h2{
  text-align: center;
  padding-top: 30px;
  font-style: italic;
  text-shadow: 0.1em 0.1em 0.15em #333;
  font-size: 2em;
}
th, td{
  text-align: center;
}
