h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: italic;
  text-shadow: 0.1em 0.1em 0.15em #333;
  font-size: 4em;
  box-sizing: border-box;
  background-color: darkgray;
}
.checkButton{
  padding-top: 30px;
  padding-bottom: 20px;
}

.addButton{
  border-radius: 4px;
}
.modal-body{
  background-color: darkgrey;
}

#tableStock{
  padding-top: 10px;
  background-color: LightCoral;
  margin-left: 0px;
  margin-right: 0px;

}
.srchBtn{
  margin-bottom: 20px;
}
html{
margin-left: 50px;
margin-right: 50px;
background-color: #ffec8b;
}
.container {
    width : 1024px;
    background-color: DarkSeaGreen;
    margin : auto;
    padding : 1em;
    box-sizing: border-box;
    text-align: center;

}
h2{
  text-align: center;
  padding-top: 30px;
  font-style: italic;
  text-shadow: 0.1em 0.1em 0.15em #333;
  font-size: 2em;
}
/*th{
  text-align: right;
}*/
